<!-- Page Content -->
<div class="container" *ngIf="project ">
  <!-- Item Heading -->
  <h1 class="col-md-8 wrap" (resized)="onResized($event)"> {{project.name}}
    <small class="text-muted" *ngIf="mobile; else elseBlock"> {{project.createdAt | date}}</small>
    <ng-template #elseBlock>
      <small class="text-muted"> {{project.createdAt | date:'shortDate'}}</small>
    </ng-template>
  </h1>
  <!-- Item Row -->
  <div class="row">
    <div class="col-md-8">
      <!--<img class="img-fluid" src="http://placehold.it/750x500" alt="">-->
      <h3 class="my-3">Project Description</h3>
      <p class="wrap">{{project.description}}</p>
    </div>
    <div class="col-md-4">
      <div class="project-header">
        <h3 class="my-3">Project Team</h3>
      </div>
      <mat-list>
        <h3 mat-subheader>Owner</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line>{{project.User.username}}</h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <h3 mat-subheader>Maintainers</h3>
        <div *ngIf="maintainers.length !== 0; else elseBlock1">
          <mat-list-item *ngFor="let maintainer of maintainers">
            <mat-icon mat-list-icon>bug_report</mat-icon>
            <h4 mat-line>{{maintainer.user_id.username}}</h4>
          </mat-list-item>
        </div>
        <ng-template #elseBlock1>
          <mat-list-item>
            <mat-icon mat-list-icon>sentiment_dissatisfied</mat-icon>
            <h4 mat-line>Maintainers is empty</h4>
          </mat-list-item>
        </ng-template>

        <mat-divider></mat-divider>
        <h3 mat-subheader>Developers</h3>
        <div *ngIf="maintainers.length !== 0; else elseBlock2">
          <mat-list-item *ngFor="let developer of developers">
            <mat-icon mat-list-icon>rowing</mat-icon>
            <h4 mat-line>{{developer.user_id.username}}</h4>
          </mat-list-item>
        </div>
        <ng-template #elseBlock2>
          <mat-list-item>
            <mat-icon mat-list-icon>sentiment_dissatisfied</mat-icon>
            <h4 mat-line>Developers is empty</h4>
          </mat-list-item>
        </ng-template>
      </mat-list>

      <div class="manage-block">
        <button mat-raised-button color="primary" (click)="addTeamMates()">
          Manage Team
        </button>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
