<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Information about user</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <p><b>Name:</b> {{user.name}}</p>
  </div>
  <div class="form-group">
    <p><b>Username:</b> {{user.username}}</p>
  </div>
  <div class="form-group" *ngIf="user.address">
    <p><b>Address:</b> {{user.address}}</p>
  </div>
  <div class="form-group" *ngIf="user.hobbies.length > 0">
    <b>Hobbies</b>
    <ul>
      <li *ngFor="let hobby of user.hobbies">{{hobby}}</li>
    </ul>
  </div>
  <div class="form-group" *ngIf="user.phoneNumbers.length > 0">
    <b>Phone numbers</b>
    <ul>
      <li *ngFor="let phoneNumber of user.phoneNumbers">{{phoneNumber}}</li>
    </ul>
  </div>
</div>
