<mat-tab-group mat-stretch-tabs [(selectedIndex)]="selectedTab">
  <mat-tab label="Maintaners">
      <ng-template matTabContent>
        <h6>Maintainers</h6>
        <app-maintainers
          (maintainersEvent)="receiveMaintainers($event)"
        ></app-maintainers>
      </ng-template>
  </mat-tab>
  <mat-tab label="Developers">
    <ng-template matTabContent>
      <h6>Developers</h6>
      <app-developers
        (developersEvent)="receiveDevelopers($event)"
      ></app-developers>
    </ng-template>
  </mat-tab>
  <mat-tab label="Finish">
    <ng-template matTabContent
      >Done
      <div class="done-container">
        <div class="maintainers">
          <p>Your maintainers:</p>
          <ul *ngFor="let mai of maintainers">
            <li>{{ mai.name }}</li>
          </ul>
        </div>
        <div class="developers">
          <p>Your developers:</p>
          <ul *ngFor="let dev of developers">
            <li>{{ dev.name }}</li>
          </ul>
        </div>
      </div>
      <p>Do you want to save this?</p>
      <div>
        <button mat-button (click)="modalClose()">Cancel</button>
        <button mat-button mat-dialog-close (click)="modalSave()">Save</button>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
