.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #fff;
}

a:visited {
  color: #fff;
}

:host button:focus {
  outline: 0;
}
