<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Simple modal</h4>
</div>
<div class="modal-body">
  <form [formGroup]="myForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" [formControl]="myForm.controls.name" id="name"
             placeholder="Name">
      <small class="form-text text-danger" *ngIf="!myForm.controls.name.valid">This field is required</small>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" [formControl]="myForm.controls.username" id="username"
             placeholder="Username">
      <small class="form-text text-danger" *ngIf="!myForm.controls.username.valid">This field is required</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [formControl]="myForm.controls.password" id="password"
             placeholder="Password">
      <small class="form-text text-danger" *ngIf="!myForm.controls.password.valid">This field is required</small>
    </div>
    <button type="submit" class="btn btn-primary w-100" (click)="getUserBack()">Save</button>
  </form>
</div>
