<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Creator</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects" class="info" (click)="showInfo(project)">
      <th scope="row">{{project.id}}</th>
      <td>{{project.name}}</td>
      <td>{{project.description}}</td>
      <td>{{project.user.username}}</td>
      <td (click)="$event.stopPropagation()">
        <button class="btn btn-info mr-3" (click)="editProject(project)"><i class="fa fa-edit"></i></button>
        <button class="btn btn-danger" (click)="removeProject(project.id_project)"><i class="fa fa-remove"></i></button>
      </td>
    </tr>
    <tr>
    </tbody>
  </table>
  <div class="col-md-12" *ngIf="projects && projects.length === 0">
    <div class="alert alert-warning text-center">
      Table is empty
    </div>
  </div>

  <a (click)="logout()" class="float float-logout">
    <i class="fa fa-sign-out float-text ml-1"></i>
  </a>

  <a (click)="addUser()" class="float float-add">
    <i class="fa fa-plus float-text"></i>
  </a>
</div>
