.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  transition: background-color .1s linear;
}

.float-logout {
  right: 40px;
  background-color: #0C9;
}

.float-logout:hover {
  background-color: #82cc50;
}

.float-add {
  right: 120px;
  background-color: #011980;
}

.float-add:hover {
  background-color: #2c7aff;
}

.float-text {
  color: #ffffff;
  font-size: 1.5em;
  margin-top: 19px;
}
