<h1 mat-dialog-title>Create new Project</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm">
    <div class="my-container">
      <mat-form-field>
        <input matInput type="text" id="name" placeholder="Title" [formControl]="myForm.controls.name">
        <div *ngIf="myForm.get('name').invalid &&
                (myForm.get('name').dirty || myForm.get('name').touched)">
          <small class="form-text text-danger"
                 *ngIf="myForm.get('name').errors.required">
            Name is required.
          </small>
          <small class="form-text text-danger"
                 *ngIf="myForm.get('name').errors.maxlength">
            Name must be lower to 25.
          </small>
          <small class="form-text text-danger"
                 *ngIf="myForm.get('name').errors.minlength">
            Password must be at least 3 characters long
          </small>
        </div>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput id="description" placeholder="Description"
                  [formControl]="myForm.controls.description"></textarea>
      </mat-form-field>

      <mat-form-field hidden>
        <input matInput type="text" id="userId" placeholder="user" readonly
               [formControl]="myForm.controls.userId">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button color="primary" [disabled]="!myForm.valid" (click)="onSubmit()">Ok</button>
</div>

